ConsolidatedView/pkgs/Wadl/business_details.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://europe-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="business_details" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="business_details" />
  <grammars>
    <jsonTypes targetNamespace="https://europe-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_text_1_def" />
      <object name="ManualTriggerInput">
        <property name="text_1" type="string" />
      </object>
      <string name="ResponseActionOutput_data_def_business_def_id_def" />
      <integer name="ResponseActionOutput_data_def_business_def_info_def_sbi_def" />
      <string name="ResponseActionOutput_data_def_business_def_info_def_name_def" />
      <string name="ResponseActionOutput_data_def_business_def_info_def_reference_def" />
      <string name="ResponseActionOutput_data_def_business_def_info_def_vat_def" />
      <string name="ResponseActionOutput_data_def_business_def_info_def_address_def_pafOrganisationName_def" />
      <string name="ResponseActionOutput_data_def_business_def_info_def_address_def_buildingNumberRange_def" />
      <string name="ResponseActionOutput_data_def_business_def_info_def_address_def_buildingName_def" />
      <string name="ResponseActionOutput_data_def_business_def_info_def_address_def_flatName_def" />
      <string name="ResponseActionOutput_data_def_business_def_info_def_address_def_street_def" />
      <string name="ResponseActionOutput_data_def_business_def_info_def_address_def_city_def" />
      <string name="ResponseActionOutput_data_def_business_def_info_def_address_def_county_def" />
      <string name="ResponseActionOutput_data_def_business_def_info_def_address_def_postalCode_def" />
      <string name="ResponseActionOutput_data_def_business_def_info_def_address_def_country_def" />
      <string name="ResponseActionOutput_data_def_business_def_info_def_address_def_uprn_def" />
      <string name="ResponseActionOutput_data_def_business_def_info_def_address_def_dependentLocality_def" />
      <string name="ResponseActionOutput_data_def_business_def_info_def_address_def_doubleDependentLocality_def" />
      <string name="ResponseActionOutput_data_def_business_def_info_def_address_def_typeId_def" />
      <object name="ResponseActionOutput_data_def_business_def_info_def_address_def">
        <property name="pafOrganisationName" type="string" />
        <property name="buildingNumberRange" type="string" />
        <property name="buildingName" type="string" />
        <property name="flatName" type="string" />
        <property name="street" type="string" />
        <property name="city" type="string" />
        <property name="county" type="string" />
        <property name="postalCode" type="string" />
        <property name="country" type="string" />
        <property name="uprn" type="string" />
        <property name="dependentLocality" type="string" />
        <property name="doubleDependentLocality" type="string" />
        <property name="typeId" type="string" />
      </object>
      <string name="ResponseActionOutput_data_def_business_def_info_def_phone_def_mobile_def" />
      <string name="ResponseActionOutput_data_def_business_def_info_def_phone_def_landline_def" />
      <string name="ResponseActionOutput_data_def_business_def_info_def_phone_def_fax_def" />
      <object name="ResponseActionOutput_data_def_business_def_info_def_phone_def">
        <property name="mobile" type="string" />
        <property name="landline" type="string" />
        <property name="fax" type="string" />
      </object>
      <string name="ResponseActionOutput_data_def_business_def_info_def_registrationNumbers_def_companiesHouse_def" />
      <string name="ResponseActionOutput_data_def_business_def_info_def_registrationNumbers_def_charityCommission_def" />
      <object name="ResponseActionOutput_data_def_business_def_info_def_registrationNumbers_def">
        <property name="companiesHouse" type="string" />
        <property name="charityCommission" type="string" />
      </object>
      <integer name="ResponseActionOutput_data_def_business_def_info_def_type_def_code_def" />
      <string name="ResponseActionOutput_data_def_business_def_info_def_type_def_type_def" />
      <object name="ResponseActionOutput_data_def_business_def_info_def_type_def">
        <property name="code" type="integer" />
        <property name="type" type="string" />
      </object>
      <integer name="ResponseActionOutput_data_def_business_def_info_def_legalStatus_def_code_def" />
      <string name="ResponseActionOutput_data_def_business_def_info_def_legalStatus_def_type_def" />
      <object name="ResponseActionOutput_data_def_business_def_info_def_legalStatus_def">
        <property name="code" type="integer" />
        <property name="type" type="string" />
      </object>
      <string name="ResponseActionOutput_data_def_business_def_info_def_email_def_address_def" />
      <boolean name="ResponseActionOutput_data_def_business_def_info_def_email_def_validated_def" />
      <boolean name="ResponseActionOutput_data_def_business_def_info_def_email_def_doNotContact_def" />
      <object name="ResponseActionOutput_data_def_business_def_info_def_email_def">
        <property name="address" type="string" />
        <property name="validated" type="boolean" />
        <property name="doNotContact" type="boolean" />
      </object>
      <object name="ResponseActionOutput_data_def_business_def_info_def">
        <property name="sbi" type="integer" />
        <property name="name" type="string" />
        <property name="reference" type="string" />
        <property name="vat" type="string" />
        <property name="address" typeRef="ResponseActionOutput_data_def_business_def_info_def_address_def" />
        <property name="phone" typeRef="ResponseActionOutput_data_def_business_def_info_def_phone_def" />
        <property name="registrationNumbers" typeRef="ResponseActionOutput_data_def_business_def_info_def_registrationNumbers_def" />
        <property name="type" typeRef="ResponseActionOutput_data_def_business_def_info_def_type_def" />
        <property name="legalStatus" typeRef="ResponseActionOutput_data_def_business_def_info_def_legalStatus_def" />
        <property name="email" typeRef="ResponseActionOutput_data_def_business_def_info_def_email_def" />
      </object>
      <object name="ResponseActionOutput_data_def_business_def">
        <property name="id" type="string" />
        <property name="info" typeRef="ResponseActionOutput_data_def_business_def_info_def" />
      </object>
      <object name="ResponseActionOutput_data_def">
        <property name="business" typeRef="ResponseActionOutput_data_def_business_def" />
      </object>
      <object name="ResponseActionOutput">
        <property name="data" typeRef="ResponseActionOutput_data_def" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://europe-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="text_1" path="/text_1" type="xs:string" required="true">
              <doc title="businessId" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>