ConsolidatedView/pkgs/Wadl/business_messages.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://europe-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="business_messages" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="business_messages" />
  <grammars>
    <jsonTypes targetNamespace="https://europe-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_text_def" />
      <string name="ManualTriggerInput_text_1_def" />
      <object name="ManualTriggerInput">
        <property name="text" type="string" />
        <property name="text_1" type="string" />
      </object>
      <string name="ResponseActionOutput_items_def_id_def" />
      <string name="ResponseActionOutput_items_def_fields_def_items_def_name_def" />
      <integer name="ResponseActionOutput_items_def_fields_def_items_def_value_def" />
      <object name="ResponseActionOutput_items_def_fields_def_items_def">
        <property name="name" type="string" />
        <property name="value" type="integer" />
      </object>
      <array typeRef="ResponseActionOutput_items_def_fields_def_items_def" name="ResponseActionOutput_items_def_fields_def" />
      <string name="ResponseActionOutput_items_def_search_def" />
      <string name="ResponseActionOutput_items_def_title_def" />
      <string name="ResponseActionOutput_items_def_body_def" />
      <boolean name="ResponseActionOutput_items_def_read_def" />
      <integer name="ResponseActionOutput_items_def_date_def" />
      <object name="ResponseActionOutput_items_def">
        <property name="id" type="string" />
        <property name="fields" typeRef="ResponseActionOutput_items_def_fields_def" />
        <property name="search" type="string" />
        <property name="title" type="string" />
        <property name="body" type="string" />
        <property name="read" type="boolean" />
        <property name="date" type="integer" />
      </object>
      <array typeRef="ResponseActionOutput_items_def" name="ResponseActionOutput" />
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://europe-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="businessId" />
            </param>
            <param style="plain" name="text_1" path="/text_1" type="xs:string" required="true">
              <doc title="customerId" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>