ConsolidatedView/pkgs/Wadl/land_parcels.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://europe-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="land_parcels" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="land_parcels" />
  <grammars>
    <jsonTypes targetNamespace="https://europe-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_text_def" />
      <object name="ManualTriggerInput">
        <property name="text" type="string" />
      </object>
      <number name="ResponseActionOutput_summary_def_arableLandArea_def" />
      <number name="ResponseActionOutput_summary_def_permanentCropsArea_def" />
      <number name="ResponseActionOutput_summary_def_permanentGrasslandArea_def" />
      <number name="ResponseActionOutput_summary_def_totalArea_def" />
      <number name="ResponseActionOutput_summary_def_totalParcels_def" />
      <object name="ResponseActionOutput_summary_def">
        <property name="arableLandArea" type="number" />
        <property name="permanentCropsArea" type="number" />
        <property name="permanentGrasslandArea" type="number" />
        <property name="totalArea" type="number" />
        <property name="totalParcels" type="number" />
      </object>
      <string name="ResponseActionOutput_parcels_def_items_def_id_def" />
      <string name="ResponseActionOutput_parcels_def_items_def_search_def" />
      <string name="ResponseActionOutput_parcels_def_items_def_sbi_def" />
      <string name="ResponseActionOutput_parcels_def_items_def_area_def" />
      <string name="ResponseActionOutput_parcels_def_items_def_fields_def_items_def_name_def" />
      <string name="ResponseActionOutput_parcels_def_items_def_fields_def_items_def_value_def" />
      <object name="ResponseActionOutput_parcels_def_items_def_fields_def_items_def">
        <property name="name" type="string" />
        <property name="value" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_parcels_def_items_def_fields_def_items_def" name="ResponseActionOutput_parcels_def_items_def_fields_def" />
      <object name="ResponseActionOutput_parcels_def_items_def">
        <property name="id" type="string" />
        <property name="search" type="string" />
        <property name="sbi" type="string" />
        <property name="area" type="string" />
        <property name="fields" typeRef="ResponseActionOutput_parcels_def_items_def_fields_def" />
      </object>
      <array typeRef="ResponseActionOutput_parcels_def_items_def" name="ResponseActionOutput_parcels_def" />
      <object name="ResponseActionOutput">
        <property name="summary" typeRef="ResponseActionOutput_summary_def" />
        <property name="parcels" typeRef="ResponseActionOutput_parcels_def" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://europe-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="businessId" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>