ConsolidatedView/pkgs/Wadl/permissions.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://europe-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="permissions" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="permissions" />
  <grammars>
    <jsonTypes targetNamespace="https://europe-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <object name="ManualTriggerInput" />
      <string name="ResponseActionOutput_permissions_def_items_def_id_def" />
      <string name="ResponseActionOutput_permissions_def_items_def_name_def" />
      <boolean name="ResponseActionOutput_permissions_def_items_def_active_def" />
      <string name="ResponseActionOutput_permissions_def_items_def_permissions_def_items_def_functions_def_items_def" />
      <array type="string" name="ResponseActionOutput_permissions_def_items_def_permissions_def_items_def_functions_def" />
      <string name="ResponseActionOutput_permissions_def_items_def_permissions_def_items_def_level_def" />
      <object name="ResponseActionOutput_permissions_def_items_def_permissions_def_items_def">
        <property name="functions" typeRef="ResponseActionOutput_permissions_def_items_def_permissions_def_items_def_functions_def" />
        <property name="level" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_permissions_def_items_def_permissions_def_items_def" name="ResponseActionOutput_permissions_def_items_def_permissions_def" />
      <object name="ResponseActionOutput_permissions_def_items_def">
        <property name="id" type="string" />
        <property name="name" type="string" />
        <property name="active" type="boolean" />
        <property name="permissions" typeRef="ResponseActionOutput_permissions_def_items_def_permissions_def" />
      </object>
      <array typeRef="ResponseActionOutput_permissions_def_items_def" name="ResponseActionOutput_permissions_def" />
      <object name="ResponseActionOutput">
        <property name="permissions" typeRef="ResponseActionOutput_permissions_def" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://europe-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json" />
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>